body{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40rem;
    background-repeat: repeat;
    background-position: bottom ;
    background-image: url(https://static.wixstatic.com/media/546dbf_03318f185ebd4d3a885b5e8e2f109c1a~mv2.gif);
    transform:scale(0.9);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding:1rem;
     background-image: url(https://cliply.co/wp-content/uploads/2020/07/422007320_CONFETTI_BALLOONS_400px.gif);
    background-repeat: no-repeat;
    background-position: center ;
    border:1px solid green;
    
    
}
input{
    margin: 1rem;
    height:3rem;
    width:10rem;
    border:1px solid rgb(0, 0, 0);
    padding:10px;
    background-color: #fff;
    border-radius:5px;
}

h1{
color: rgb(66, 211, 36);
border:1px solid rgb(38, 201, 23);
padding:10px;
border-radius:5px;
background-color: #fff;
}

textarea{
    margin: 3rem;
    color: rgb(0, 0, 0);
    padding:10px;  
    background-color: rgb(253, 242, 242); 
}
label{
    font-size: large;
}

#calculate{
    height:3rem;
    background-color: rgb(56, 204, 19);
    border: none;
    padding:10px;
    border-radius:5px;
}
textarea{
    color: #000;
    font-size: 0.8rem;
    text-align: center;
    background-color: white;
    height:2rem;
    width:14rem;
    border: 2px solid green;
    border-radius:5px;
    
}
#notice{
    color:red;
    font-size: 1rem;
    border:2px solid red;
    padding:1rem;
    background-color: #fff;
    background-color: rgb(255, 232, 232);
    
}
#cancel{
    cursor: pointer;
}