.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    margin: 2rem;
    padding:1rem;
    
}
h1{color: rgb(0, 0, 0);}
textarea{
    margin: 3rem;
}
label{
    font-size: large;
}
*{
    background-color: rgb(255, 255, 255);
}
#calculate{
    height:30px;background-color: #fff;
}
textarea{
    color: #000;
    font-size: 1.5rem;
}
.notice{
    color:red;
}