body{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40rem;
    background-repeat: repeat;
    background-position: bottom ;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding:1rem;
     background-image: url(https://cliply.co/wp-content/uploads/2020/07/422007320_CONFETTI_BALLOONS_400px.gif);
    background-repeat: no-repeat;
    background-position: center ;
    
    
    
}
input{
    margin: 1rem;
    height:3rem;
    width:10rem;
    border:3px solid rgb(51, 255, 0);
    padding:10px;
    background-color: #fff;
}

h1{
color: rgb(0, 0, 0);
border:2px solid rgb(0, 0, 0);
padding:10px;
}

textarea{
    margin: 3rem;
    color: rgb(0, 0, 0);
    padding:10px;   
}
label{
    font-size: large;
}

#calculate{
    height:3rem;
    background-color: rgb(56, 204, 19);
    border: none;
    padding:10px;
}
textarea{
    color: #000;
    font-size: 1rem;
    background-color: white;
    height:4rem;
    
}
#notice{
    color:red;
    
}
#cancel{
    cursor: pointer;
}